{% extends 'blog/base.html' %}

{% block content %}
  <h2>Profile</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
  </form>

  {% if user.image_profile %}
    <h3>Your Profile Image:</h3>
    <img src="{{ user.image_profile.url }}" alt="Profile Image" width="150">
    <form action="{% url 'mi_blog:delete_profile_image' %}" method="POST">
      {% csrf_token %}
      <button type="submit">Delete Image</button>
    </form>
  {% else %}
    <p>No profile image uploaded.</p>
  {% endif %} 
{% endblock %}